.obstacle {
  position: absolute;
  bottom: 20px;
  width: 30px;
  height: 30px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.pokeball {
  bottom: 20px;
}

.rocket {
  bottom: 90px;
}
